<h1>User List</h1>

<ul>
  <% @people.each do |person| %>
    <li>
      <%= link_to person.name, person %>
      </a>
    </li>
  <% end %>
</ul>

<%= link_to("Add new User", 'person/new',:class => 'action new')%>



